temp/cache
app/config/database.local.neon
app/config/mail.local.neon
app/config/vite.local.neon
.idea
.DS_Store
bower_components
node_modules
vendor
www/upload
www/assets/*
!www/assets/static
www/assets/static/*
!www/assets/static/original
www/dist
.env
.docker
vite.crt
vite.key
.ddev
composer.lock
package-lock.json