{define bodyClass}page-homepage{/define}
{define metaTitle}Homepage meta title{/define}
{define metaDescription}Homepage meta description{/define}

{block content}
    {embed .Section}
        <div n:block="children" class="space-y-12 text-center">
           <h1 class="text-48px font-bold">Nazdárek</h1>
            <div class="text-128px">💩</div>
        </div>
    {/embed}
{/block}
