{varType string $text}

<span
    class="bg-yellow-500 hover:bg-yellow-400 text-yellow-900 font-bold uppercase tracking-wide text-sm px-8 py-4 inline-block text-center transition-colors"
>
    {$text}
</span>