{layout '../@layoutUnsigned.latte'}

{block metaTitle}
	Přihlášení
{/block}

{block content}
	{control signInForm}
	<a n:href="forgottenPassword" class="uk-text-small">
		Zapomněli jste heslo?
	</a>
{/block}