{layout '../@layoutUnsigned.latte'}

{block metaTitle}
    Odhlášení
{/block}

{block content}
    <p class="uk-margin-bottom">Byli jste úspešně odhlášeni ze systému</p>
    <a n:href="in" class="uk-button uk-button-primary">
        Přihlásit se
    </a>
{/block}

