{define bodyClass}page-about{/define}
{define metaTitle}Page meta title{/define}
{define metaDescription}Page meta description{/define}

{block content}
    {embed .Section}
        <div n:block="children" class="space-y-12 text-center">
            <h1>O nás</h1>
            <!-- Content for O nás page -->
        </div>
    {/embed}
{/block} 