openMenu: 'Otevřít menu'
closeMenu: 'Zavřít menu'
openSubmenu: 'Otevřít submenu'
closeSubmenu: 'Zavřít submenu'

homepage:
    title: 'Tvoříme prémiový obsah, organizujeme úspěšné akce a spravujeme efektivní kampaně'
    text: 'Přehled našich akcí'
