datetime:
    week:
        1: 'Monday'
        2: 'Tuesday'
        3: 'Wednesday'
        4: 'Thursday'
        5: 'Friday'
        6: 'Saturday'
        7: 'Sunday'
    month:
        1: 'January'
        2: 'February'
        3: 'March'
        4: 'April'
        5: 'May'
        6: 'June'
        7: 'July'
        8: 'August'
        9: 'September'
        10: 'August'
        11: 'November'
        12: 'December'

learnMore: 'Learn more'
showAll: 'Show all'
readMore: 'Read more'
showMore: 'Show more'
showLess: 'Show less'
download: 'Download'
goToPage: 'Go to page %title%'
goToArticle: 'Go to article %title%'
goToCategory: 'Go to category %title%'
leaveWeb: 'Leave web and go to %title%'
skipNav: 'Go to main content'
callTo: 'Call to %contact%'
mailTo: 'Send email to %contact%'
noResults: 'No results found'