{templateType App\FrontModule\Types\BaseTemplate}

<link rel="icon" type="image/png" href="{$basePath}/assets/static/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{$basePath}/assets/static/favicon/favicon.svg" />
<link rel="shortcut icon" href="{$basePath}/assets/static/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/assets/static/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Burda" />
<link rel="manifest" href="{$basePath}/assets/static/favicon/site.webmanifest" />
<meta name="theme-color" content="#ffffff">