4xx:
    title: 'Oops...'
    message: 'Your browser sent a request that this server could not understand or process.'
403:
    title: 'Access Denied'
    message: 'You do not have permission to view this page. Please try contact the web site administrator if you believe you should be able to view this page.'
404:
    title: 'Page Not Found'
    message: 'The page you requested could not be found. It is possible that the address is incorrect, or that the page no longer exists. Please use a search engine to find what you are looking for.'
405:
    title: 'Method Not Allowed'
    message: 'The requested method is not allowed for the URL.'
410:
    title: 'Page Not Found'
    message: 'The page you requested has been taken off the site. We apologize for the inconvenience.'
goBack: 'Zpět na úvodní stránku'